*{
	padding:0;
	margin:0;
	font-family:FT;
	text-align:justify;
	font-size: 24px;
	box-sizing: border-box;
}

img.GuideController {
	width: 2em;
}

/* 左右大框 */
html, body {
	height: 100%;
	width: 100%;
}
div.LeftGuide {
	float: left;
	position: fixed;
	height: 100%;
	padding: 1em;
	background-color: antiquewhite;
	width: 15%;
	border-right: 4px solid #000;
	z-index: 1;
}
div.LeftGuide a{
	display: block;
	font-size: 0.75em;
	line-height: 2;
}
div.LeftGuide a.Sec{
	margin-left: 1.5em;
}
div.LeftGuide a.Sec:first-letter{
	margin-left: -0.75em;
}
div.LeftGuide a.Third {
	margin-left: 2.25em;
}
div.LeftGuide a.Third:first-letter {
	margin-left: -1.5em;
}

div.LeftGuide a:link,a:visited,a:hover,a:active{
	display: block;
	font-size: 0.75em;
	line-height: 2;

	color: #000;
	text-decoration:none;
}


div.Main {
	height: 100%;
	width: 100%;
	padding-left: 20%;
	/* background-color: #f2f2f2; */
}

/* 各级标题 */
h1{
	font-size: 2.5em;
	font-weight: bold;
	padding: 1em 0;
}
h2{
	font-size: 2em;
	font-weight: bold;
	padding: 1em 0;
}
h3 {
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.5em 0;
}
h4 {
	font-weight: bold;
	text-indent: 2em;
	line-height: 2;
}

p {
	text-indent: 2em;
	line-height: 2;
}

p.Note {
	text-indent: 0em;
	font-size: 0.75em;
}
p.NoteTitle {
	text-indent: 0em;
	font-size: 0.75em;
	text-align: center;
	/* display:inline; */
}
code {
	text-align: center;
	width: 100%;
	background-color: #d8d8d8;
	display: block;
}

ul{
	padding-left: 2em;
	line-height: 2;
}

/* 表格 */
table {
	border-collapse: collapse;
	margin: auto;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}
td {
	border-bottom: 1px solid black;
	font-size: 0.75em;
	padding: 0.25em;
}
td.Left {
	border-right: 1px solid black;
	width:20%;
}
td.First {
	text-align: center;
	font-weight: bold;
	border-bottom: 4px solid black;
}
tr.VNeed{
	background-color: #ddebf7;
}