*{
	font-family:FT;
	text-align:justify;
	font-size: 24px;
}
/* 通用设置 */
ul, li, p, a{
	line-height: 2;
}


h1, h2, h3, h4, h5 {
	font-size: 1em;
	font-weight: bold;
	text-indent: 0em;
	margin: 1em 0;
	line-height: 2;
}
/* 各级标题 */
h1 {/* 页面大标题 */

}
h2 {/* 一级标题 */

}
h3 {/* 二级标题 */

}
h4 {/* 三级标题 */
	text-indent: 2em;
}
h5 {/* 四级标题 */
	font-weight: normal;
	text-indent: 2em;
}

p {			/* 正文 */
	font-size: 1em;
	line-height: 1.5;
	text-indent: 2em;
}

p.Note {		/* 脚注 */
	text-indent: 0em;
	font-size: 0.75em;
}
p.Caption {		/* 题注 */
	text-indent: 0em;
	font-size: 0.75em;
	text-align: center;
}