body{
	margin:auto;
	color:#ffffff;
	font-family: "microsoft yahei";
}



div.resist_bg{
	background-image: url("Regist_bg.jpg");
	background-repeat:no-repeat;
	width: 375px;
	margin:auto;
	background-size: 100% 100%;
    height: 100%;
}
div.logo{
	margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    min-height: 52px;
}
div.title_img{
	text-align:center;
	width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1%;
}
div.info_box{
	text-align:center;
	padding-top: 30px;
}
div.info_list{
	width: 400px;
	margin:0 auto;
	box-sizing: border-box;
}
div.codeimg{
	margin: auto;
    width: 130px;
    height: 150px;
}
div.codeimg img{
	width: inherit;
    height: inherit;
}
div.list_row{
	font-size: 15pt;
	overflow: hidden;
	margin:0;
    padding:0;
}
div.row_left{
	width: 45%;
    text-align: right;
    float: left;
}
div.row_right{
	width: 55%;
    text-align: left;
    float: left;
    vertical-align: middle;
}