body {
	background-image: url("Regist_bg.jpg");
	background-size:100% 100%;
	background-repeat: no-repeat;
	margin:0;
	padding:0;
}
div.resist_bg{
	margin:0;
	height:100%;
	background-repeat:no-repeat;
	overflow: hidden;
}

.logo{
	width: 78%;
	margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    min-height: 52px
}
	.logo img{
		width: 100%;
	}

.title_img {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-top: 12%;
}
	.title_img img {
		width: 100%;
	}

.info_box {
	padding-top: 30px;
}
	.info_list {
		width: 100%;
		margin: 0 auto;
		color: #fff;
	}
	.list_row {
		font-size: 15pt;
		overflow: hidden;
	}
		.codeimg{
			margin: auto;
			width: 38.5%;
		}
			.codeimg img{
				width: 100%;
				height: inherit;
			}
		.row_left {
			width: 45%;
			text-align: right;
			float: left;
		}
			.row_left span {
				display: inline-block;
				/*width: 60pt;*/
				text-align: justify;
				text-align-last: justify;
			}
		.row_right {
			width: 55%;
			text-align: left;
			float: left;
			vertical-align: middle;
		}
